body{
	padding: 0%;
	margin: 0%;
}

.encabezado{
	font-size: 40pt;
	color: white;
	background-image: url("C:/proyecto_git/imagenes/banner_principal.png");
	background-size: 100% 100%;
}

.img{
  margin:10px auto;
  border-radius:5px;
  border: 1px solid #999;
  padding:13px;
  width:220px;
  height:220px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background:url(../img/imagen.jpg);
  background-size: cover;
  }

.principal{
	
	text-align: center;
	height: 100vh;
}

.navegacion{
	background-color: blue;
	text-align: center;
}

.contenido{
	background-color: darkred;
	text-align: center;
	display: inline-flex;
	padding: 1%;
	font-size: 10pt;
}

.contenido_principal{
	background-color: pink;
	width: 70%;
	font-size: 14pt;
}

.lateral{
	background-color: darkblue;
	width: 30%;
}

.pie{
	background-color: gold;
	text-align: center;
}